<!-- <section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Tech & Color</h1>
    <p class="lead text-muted">Find talented developers and tech people of color.</p>
    <p>
      <a routerLink="/profile/edit" class="btn btn-primary my-2">Add your profile</a>
    </p>
  </div>
</section> -->

<div class="container my-5">
  <div class="jumbotron">
    <img src="/assets/images/logo/full.png" class="mb-4" style="width:50%">
    <!-- <h1 class="display-3">Tech & Color</h1>
    <p class="lead">Empowering People of Color in Tech</p> -->
    <p>Our mission is to inspire and promote the development of thriving Black Tech Ecosystems to ensure Black people are full
      participants in the global technology sector.</p>

  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Directory</h2>
      <p>Our Tech and Color Directory showcases people of color in tech carefully pre-selected or referred-only by our members.
      </p>
      <p>
        <a class="btn btn-secondary" routerLink="/directory" role="button">View directory &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Jobs</h2>
      <p>Our Job Board helps connect people of color with jobs in tech and startups. </p>
      <p>
        <button type="button" class="btn btn-secondary" disabled>Coming Soon</button>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Student</h2>
      <p>Working closely with Student Associations to empower the future generations People of Color in tech.
      </p>
      <p>
        <button type="button" class="btn btn-secondary" disabled>Coming Soon</button>
      </p>
    </div>
  </div>

  <hr>

</div>
<!-- /container -->

<!-- <app-profiles-list></app-profiles-list> -->
